<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deiverbum.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BreviarioActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_breviario"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.OficioActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_oficio"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.CalendarioActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_calendario"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MisaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_misa"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MixtoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_mixto"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.LaudesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_laudes"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.TerciaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_tercia"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.SextaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sexta"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.NonaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_nona"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.VisperasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_visperas"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.CompletasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_completas"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.BreviarioMasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_breviario_mas"
            android:parentActivityName=".activities.BreviarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.BreviarioActivity" />
        </activity>
        <activity
            android:name=".activities.MainMasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main_mas"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.HomiliasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_homilias"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SantosActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_santos"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LecturasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_lecturas"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ComentariosActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_comentarios"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.OracionesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_oraciones"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ce5bc56c5381caf9528a87baaa5684e08461b836" />

        <activity
            android:name=".activities.RosarioActivity"
            android:label="@string/title_activity_rosario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.deiverbum.app.activities.MainActivity" />
        </activity>
    </application>

</manifest>